.animate-spin {
	animation:spin 2s linear infinite; display: inline-block; -moz-animation: spin 2s infinite linear; -o-animation: spin 2s infinite linear; -webkit-animation: spin 2s infinite linear;
}
